.coinPageContainer {
  display: flex;
}
.coinSidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 25px;
  border-right: 2px solid gray;
  padding: 20px;
}
.imgStyle {
  height: 150px;
  margin-bottom: 15px;
}
.coinHeading {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
.description {
  font-size: 18px;
  line-height: 29px;
  text-align: justify;
}
.marketData {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}
.upperSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
span {
  display: flex;
  align-items: center;
  gap: 2px;
}
.heading5 {
  font-size: 22px;
}
.heading6 {
  font-size: 20px;
}

@media (max-width: 1240px) {
  .heading5 {
    font-size: 18px;
  }
  .heading6 {
    font-size: 16px;
  }
}
@media (max-width: 1040px) {
  .heading5 {
    font-size: 16px;
  }
  .heading6 {
    font-size: 14px;
  }
}
@media (max-width: 960px) {
  .coinPageContainer {
    flex-direction: column;
    align-items: center;
  }
  .coinSidebar {
    width: 100%;
    border: none;
    padding: 20px 80px;
    gap: 20px;
  }
  .marketData {
    flex-direction: row;
    gap: 50px;
  }
  .data-heading {
    font-size: 2px;
  }
}

@media (max-width: 820px) {
  .marketData {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
  }
  .coinSidebar {
    align-items: flex-start;
  }
}
@media (max-width: 600px) {
  .coinSidebar {
    padding: 20px;
  }
  .imgStyle {
    height: 100px;
  }
}
