.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  padding: 40px;
}
@media (max-width: 960px) {
.container{
    width: 100%;
    margin-top: 0;
    padding: 20px;
    padding-top: 0px;
}
}