.coin-page-container {
  display: flex;
}
.coin-sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 25px;
  border-right: 2px solid gray;
  padding: 20px;
}
img {
  height: 150px;
  margin-bottom: 15px;
}
.coin-heading {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}
p {
  font-size: 18px;
  line-height: 29px;
  text-align: justify;
}
.market-data {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}
.upper-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
span {
  display: flex;
  align-items: center;
  gap: 2px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 20px;
}

@media (max-width: 1240px) {
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
}
@media (max-width: 1040px) {
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
}
@media (max-width: 960px) {
  .coin-page-container {
    flex-direction: column;
    align-items: center;
  }
  .coin-sidebar {
    width: 100%;
    border: none;
    padding: 20px 80px;
    gap: 20px;
  }
  .market-data {
    flex-direction: row;
    gap: 50px;
  }
  .data-heading {
    font-size: 2px;
  }
}

@media (max-width: 820px) {
  .market-data {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
  }
  .coin-sidebar {
    align-items: flex-start;
  }
}
@media (max-width: 600px) {
  .coin-sidebar {
    padding: 20px;
  }
  img {
    height: 100px;
  }
}
